@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .dark {
    --neutral-bg: black;
    --neutral: #334155;
    --neutral-accent: #111827;
    --neutral-contrast: #64748b;
    --accent: #16a34a;
    --accent-2: #166534;
    --hovercolor: #cbd5e1;


  }
  .light {
    --neutral-bg: white;
    --neutral: #888c93;
    --neutral-accent: #e2e3e4;
    --neutral-contrast: #4d525d;
    --accent: #16a34a;
    --accent-2: #166534;
    --hovercolor: #888c93;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}