@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .dark {
    --neutral-bg: black;
    --neutral: #334155;
    --neutral-accent: #111827;
    --neutral-contrast: #64748b;
    --accent: #16a34a;
    --accent-2: #166534;
    --accent-light: #6cdd87;
    --hovercolor: #cbd5e1;

    --universal-neutral-bg: black;
    --universal-neutral: #334155;
    --universal-neutral-accent: #111827;
    --universal-neutral-contrast: #64748b;


    /*    
     --neutral-bg: black;
    --neutral: #334155;
    --neutral-accent: #111827;
    --neutral-contrast: #64748b;
    --accent: #16a34a;
    --accent-2: #166534;
    --accent-light: #6cdd87;
    --hovercolor: #cbd5e1; 
    */


  }
  .light {
    --neutral-bg: white;
    --neutral: #888c93;
    /* --neutral-accent: #4d525d;
    --neutral-contrast: #e2e3e4; */
    --neutral-accent: #e2e3e4;
    --neutral-contrast: #4d525d; 
    --accent: #16a34a;
    --accent-2: #166534;
    --accent-light: #6cdd87;
    --hovercolor: #888c93;

    --universal-neutral-bg: black;
    --universal-neutral: #334155;
    --universal-neutral-accent: #111827;
    --universal-neutral-contrast: #64748b;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

/* --accent: #6cdd87;
--accent-2: #16a34a; 
--accent-light: #166534; */